<h3>Song Form</h3>

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :genre %>
  <%= f.number_field :genre_id %>
  <%= f.label :artist %>
  <%= f.number_field :artist_id %>
  <%= f.submit %>
<% end %>